img {
  height: 150px;
}

.description {
  font-size: 20px;
}

#cook-time {
  font-weight: bold;
}

ul li {
  list-style: square;
}

p.class {
  color: gray;
}

external-link {
  color: seagreen;
}

h1, h2, p, li {
  font-family: Helvetica;
}
